h2 {
    text-align: center;
    margin-bottom: 0;
    background: var(--bs-orange);
    padding: .5rem 1rem;
    color: white;
    font-weight: bold;
    font-family: 'Monospaced';
}

#initialCourtSetup {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}
#initialCourtSetup .h1 {
    font-size: 5rem;
}
#initialCourtSetup .form-group {
    display: flex;
    flex-direction: column;
}

#initialCourtSetup .form-group button {
    margin: 0 auto;
}

#initialCourtSetup~#tennisFacility {
    display: none;
}

#tennisFacility {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
}

@media (min-width: 960px) {
    #tennisFacility {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
@media (min-width: 1600px) {
    #tennisFacility {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
}

.court {
    display: flex;
    flex-direction: column;
}

.court-players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: .5rem;
    background: #c5300f;
    padding: 1rem;
}

.time-slot {
    display: grid;
    grid-template-areas:
            'time players'
            'time buttons';
    grid-template-columns: 100px auto;
    grid-gap: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #ededed;
}
@media (min-width: 960px) {
    .time-slot {
        grid-template-columns: 90px auto;
    }
}

.time-slot-time {
    grid-area: time;
    align-self: center;
    font-family: 'Monospaced';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-slot-time-begin::after {
    content: '-';
    display: block;
    text-align: center;
    line-height: 1;
}

.time-slot-players {
    grid-area: players;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.player {
    text-align: center;
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    border-radius: 1rem;
}

.add-player {
    justify-self: center;
    grid-area: buttons;
}

.remove-player {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 6px 2px 6px;
}
